@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.search-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.blue {
    color: #a71f90;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* NAVIGATION */

.navbar {
    height: 326px; 
    padding: 40px 15px;
    background-color: grey;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 600;
}

.navbar__wrapper {
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
    justify-content: space-between;
}

.logo-img {
    height: 50px;
    width: 50px;
    background-color: #a71f90;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    width: 100%;
    max-width: 430px;
}

.nav-link {
    display: flex;
    width: 100%;
    max-width: 430px;
    justify-content: space-between;
    color: rgb(14, 11, 50);
    align-items: center;
}