@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

:root{
    --primary-color: #22254b;
    --secondary-color: #373b69;
}



/* NAVIGATION */

.flex-col {
    display: flex !important;
    flex-direction: column !important;
}

.navbar {
    height: 326px; 
    padding: 40px 15px;
    background-color: grey; 
    align-items: center; 
    position: relative; 
    display: flex;
}

.content-wrapper {
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: row; 
    z-index: 1005;
    display: flex !important;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap; 

}

.logo { 
    width: 283px; 
    display: flex;
    position: relative;
    border-color: blue;
    border-radius: 8px;
}

.logo-img {
    height: 40px;
    width: 150px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 430px;
}

.nav-link {
    font-size: 18px; 
    font-weight: 700;
    text-decoration: none; 
    color: white; 
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: rgb(6, 46, 163);
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%; 
 }

.overlay {
    position: absolute;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 20%;
    background-image: url(https://i.redd.it/4fxxbm4opjd31.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}

.contact-btn {
    display: flex;
    cursor: pointer;
    max-height: 48px; 
    min-height: 48px; 
    padding: 12px 40px; 
    align-items: center;
    border: 2px rgb(6, 46, 163);
    border-radius: 50px; 
    color: white;
    background-color: rgb(6, 46, 163);
    font-size: 13px;
    letter-spacing: 1px; 
    text-transform: uppercase;
}

.contact-btn:hover {
    background-color: white;
    color: black;
    transition:all .45s ease;
}


/* SEARCH BAR */

.input-wrap {
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 50px; 
    overflow: hidden;
}

input {
    color: rgb(6, 46, 163);
    width: 100%;
    max-width: 800px; 
    height: 60px; 
    font-size: 20px; 
    padding-left: 20px; 
}

.content--wrapper {
  margin: 0 auto; 
  width: 100%;
  max-width: 1200px; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center;
  z-index: 2;
}

.sub-title {
    font-weight: 900; 
    text-align: center;
    letter-spacing: .1em;
    font-size: 45px; 
    max-width: 1000px; 
    margin-bottom: 40px; 
    color: white;
    align-items: center;
}

.search-wrapper {
    position: absolute; 
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    top: 0;
    bottom: 0;
    right: 0;
    color:rgb(6, 46, 163);
    z-index: 10000;
    padding: 0 20px 0 8px; 
    font-size: 32px; 
    height: 60px; 
    width: 60px; 
    display: flex;
}

.search-img {
    overflow: visible; 
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(6, 46, 163);
}

.search-img:hover {
    color:rgb(6, 46, 163);
    background-color: white; 
    transition:all .45s ease;
}


/*SEARCH RESULTS */

#search {
    padding: 40px 20px; 
    

}

#movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.movies__content-wrapper {
    margin: 0 auto; 
    width: 100%;
    max-width: 1200px; 
    
}

.movie {
    width: 300px; 
    margin: 1rem;
    border-radius: 3px; 
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: #062ea3; 
    align-items: center;
    position: relative;
    overflow: hidden; 
}

.movie-img {
    width: 100%;
}

.movie-info {
   color: white; 
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 1rem 1rem;
   letter-spacing: 0.5px; 
}

.movie-info h3 {
    margin-top: 0;
}

.synopsis {
    margin-bottom: 10px;
}

.movie-info span {
    background-color: rgb(9, 36, 77);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: rgb(237, 92, 14);
}

.movie-info span.red{
    color: rgb(228, 32, 32);
}

.overview {
   position: absolute; 
   background-color: white;
   left: 0;
   right: 0;
   padding: 1rem;
   max-height: 100%;
   transition: opacity 450ms ease-in;
   z-index: 2;
}

.movie:hover .overview:hover {
    opacity: 10;
}

.movie:hover .movie-img {
    transform: scale(1.07);
    filter:blur(5px);
}

.movie:hover .overview {
    opacity: 1;
    transform: translateY(-100%);
}





