@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.blue {
    color: #a71f90;
}


/* NAVIGATION */

.flex-col {
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 326px; 
    padding: 40px 15px; 
    background-color: grey; 
    align-items: center; 
    position: relative; 
}

.content-wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    margin-top: -20px; 
    display: flex;
    margin: 0 auto; 
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap; 
}

.logo {
    height: 40px; 
    width: 40px; 
    display: flex;
    position: relative;
    border-color: blue;
    border-radius: 8px;
}

.logo-txt {
    font-weight: 700;
    font-size: 40px; 
    display: flex;
    position: relative;
    color: white;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 430px;
}

.link {
    position: relative; 
}










